/.idea/inspectionProfiles/profiles_settings.xml
/.idea/solvedc.iml
/.idea/vcs.xml
/hexprism.py
/.idea/misc.xml
/.idea/modules.xml
/.idea/.gitignore
/pypyvenv/
/easy_dc/run.py
/easy_dc/speedy.py
/imgs/txt.py
/.idea/inspectionProfiles/Project_Default.xml
/easy_dc/data/loop_5million.pickle
/.idea/codeStyles/codeStyleConfig.xml
